/* Colors are in oklch but without the tagged to be after */

:root,
[data-theme='light'] {
	/* Default background color */
	--background: 1 0 0;
	--foreground: 0.141 0.005 285.823;

	/* Muted backgrounds */
	--muted: 0.967 0.001 286.375;
	--muted-foreground: 0.55 0.01 286;

	/* Background color */
	--card: 1 0 0;
	--card-foreground: 0.141 0.005 285.823;

	/* Background color for popovers */
	--popover: 1 0 0;
	--popover-foreground: 0.141 0.005 285.823;

	/* Primary colors */
	--primary: 0.596 0.271 246.3;
	--primary-foreground: 0.985 0 0;

	/* Secondary colors */
	--secondary: 0.967 0.001 286.375;
	--secondary-foreground: 0.21 0.006 285.885;

	/* Used for accents such as hover effects */
	--accent: 0.967 0.001 286.375;
	--accent-foreground: 0.21 0.006 285.885;

	/* Used for destructive actions */
	--destructive: 0.627 0.257 29.2;
	--destructive-foreground: 0.975 0.009 257.1;

	/* Default border color */
	--border: 0.92 0 286;

	/* Border color for inputs */
	--input: 0.871 0.006 286.286;

	/* Used for focus ring */
	--ring: 0.871 0.006 286.286;

	/* Border radius for card, input and buttons */
	--radius: 0.625rem;

	/* Used for charts */
	--chart-1: 0.646 0.222 41.116;
	--chart-2: 0.6 0.118 184.704;
	--chart-3: 0.398 0.07 227.392;
	--chart-4: 0.828 0.189 84.429;
	--chart-5: 0.769 0.188 70.08;

	/* Sidebar */
	--sidebar: 0.985 0 0;
	--sidebar-foreground: 0.141 0.005 285.823;
	--sidebar-primary: 0.21 0.006 285.885;
	--sidebar-primary-foreground: 0.985 0 0;
	--sidebar-accent: 0.967 0.001 286.375;
	--sidebar-accent-foreground: 0.21 0.006 285.885;
	--sidebar-border: 0.92 0.004 286.32;
	--sidebar-ring: 0.871 0.006 286.286;
}

.dark,
html[data-theme='dark'] {
	/* Default background color */
	--background: 0.141 0.005 285.823;
	--foreground: 0.985 0 0;

	/* Muted backgrounds */
	--muted: 0.21 0.006 285.885;
	--muted-foreground: 0.65 0.01 286;

	/* Background color */
	--card: 0.141 0.005 285.823;
	--card-foreground: 0.985 0 0;

	/* Background color for popovers */
	--popover: 0.141 0.005 285.823;
	--popover-foreground: 0.985 0 0;

	/* Primary colors */
	--primary: 0.596 0.271 246.3;
	--primary-foreground: 0.985 0 0;

	/* Secondary colors */
	--secondary: 0.274 0.006 286.033;
	--secondary-foreground: 0.985 0 0;

	/* Accent colors */
	--accent: 0.21 0.006 285.885;
	--accent-foreground: 0.985 0 0;

	/* Used for destructive actions */
	--destructive: 0.627 0.257 29.2;
	--destructive-foreground: 0.975 0.009 257.1;

	/* Default border color */
	--border: 0.274 0.006 286.033;

	/* Border color for inputs */
	--input: 0.274 0.006 286.033;

	/* Used for focus ring */
	--ring: 0.442 0.017 285.786;

	/* Used for charts */
	--chart-1: 0.488 0.243 264.376;
	--chart-2: 0.696 0.17 162.48;
	--chart-3: 0.769 0.188 70.08;
	--chart-4: 0.627 0.265 303.9;
	--chart-5: 0.645 0.246 16.439;

	/* Sidebar color*/
	--sidebar: 0.205 0 0;
	--sidebar-foreground: 0.985 0 0;
	--sidebar-primary: 0.488 0.243 264.376;
	--sidebar-primary-foreground: 0.985 0 0;
	--sidebar-accent: 0.269 0 0;
	--sidebar-accent-foreground: 0.985 0 0;
	--sidebar-border: 0.274 0.006 286.033;
	--sidebar-ring: 0.442 0.017 285.786;
}
