@import 'gridstack/dist/gridstack.min.css';
@import 'gridstack/dist/gridstack-extra.min.css'; // if you use 2-11 column

.grid-stack-item-content {
	@apply rounded-lg border border-border text-center shadow-sm bg-background;
}
