:root {
	--font-size-xs: 0.6875rem;
	--font-size-sm: 0.75rem;
	--font-size-base: 0.8125rem;
	--font-size-lg: 0.9375rem;
	--font-size-xl: 1.125rem;
	--font-size-h1: 2.25rem;
	--font-size-h2: 1.5rem;
	--font-size-h3: 1.25rem;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--line-height: 1.625rem;
}
