@use 'colors';
@use 'typography';
@use 'layout';
@use 'gridstack';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply h-full w-full m-0 p-0 bg-background text-foreground tracking-tight;
		font-family: 'Inter', sans-serif;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply select-none cursor-default bg-background text-foreground;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizelegibility;
		text-size-adjust: 100%;

		scrollbar-width: thin;
		scrollbar-color: oklch(var(--sidebar)) transparent;
	}

	* {
		@apply box-border;
	}

	*,
	::after,
	::before,
	::backdrop {
		// TODO: Review this
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	pre::-webkit-scrollbar {
		width: 5px;
	}
	pre::-webkit-scrollbar-track {
		background: transparent;
	}
	pre::-webkit-scrollbar-thumb {
		background: oklch(var(--border));
		border-radius: 5px;
	}
	pre {
		scrollbar-width: thin;
		scrollbar-color: oklch(var(--border)) transparent;
	}
}

@property --border-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: '<angle>';
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
	@apply bg-background;
	transform: rotate(45deg);
}

.chat-list .cdk-virtual-scroll-content-wrapper {
	@apply absolute grid grid-cols-1 gap-2 sm:grid-cols-1 p-2;
}

.messages-list-list .cdk-virtual-scroll-content-wrapper {
	@apply h-full;
}
