<!-- Target handle - placed outside main div for proper positioning -->
<handle
	[id]="'graph-' + data()?.id"
	type="target"
	position="left"
/>

<div
	class="w-[300px] max-w-[300px] min-w-[200px] rounded-xl bg-white text-black text-md border p-3 shadow-sm"
	[class.border-primary]="selected()"
	[class.border-border]="!selected()">
	<header class="flex cursor-move flex-row justify-between" dragHandle>
		<div>
			<h5 class="text-base font-semibold text-foreground">
				{{ data()?.name }}
			</h5>
		</div>

		<mmc-badge variant="destructive">Graph</mmc-badge>
	</header>

	<mmc-divider class="mb-1 mt-2"></mmc-divider>

	<div class="text-sm/5 font-medium text-muted-foreground">
		{{ data()?.description ?? 'Description' }}
	</div>
</div>
