<div
	class="sticky top-0 z-40 flex h-12 shrink-0 font-semibold items-center gap-x-4 border-b border-border bg-background px-4 sm:gap-x-4 sm:px-5"
>
	<button type="button" class="-m-2.5 p-2.5 lg:hidden">
		<span class="sr-only">Open sidebar</span>
		<svg
			class="size-6"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			aria-hidden="true"
			data-slot="icon"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
			/>
		</svg>
	</button>

	<ng-content select="[mainContentHeader]"></ng-content>
</div>

<main class="flex flex-auto flex-col overflow-hidden">
	<ng-content select="[mainContentBody]"></ng-content>
</main>
