<div class="group relative flex items-center gap-2 p-2 rounded-lg border border-border bg-white hover:bg-muted/30 transition-all cursor-pointer shadow-sm" cdkDrag [cdkDragData]="action()">
	<!-- <div class="action-drag-placeholder" *cdkDragPlaceholder></div> -->
	
	<!-- Action ID/Type -->
	<!-- <div class="flex-shrink-0 px-1.5 py-0.5 rounded bg-muted/50 text-[10px] font-bold text-muted-foreground uppercase tracking-tight">
		{{ action().type.toString().replace('_', ' ') }}
	</div> -->
	<button
		mmcButton
		cdkDrag
		[cdkDragData]="action()"
		variant="outline"
		class="w-full justify-start"
	>
		<div class="action-drag-placeholder" *cdkDragPlaceholder></div>
		{{ action().type }}
	</button>

	<!-- Delete button - Visible on hover -->
	<button
		mmcButton
		variant="destructive"
		size="sm"
		class="absolute right-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200 z-10 h-6 w-6 p-0"
		(click)="deleteAction($event)"
	>
		<mmc-icon name="lucideTrash" size="xs"> </mmc-icon>
	</button>

	<!-- Source handle - Centered vertically on the right edge -->
	@if (action().canHaveSourceHandler()) {
		<handle
			[id]="handlerID"
			type="source"
			position="right"
			[template]="sourceHandler.templateRef()"
		/>
	}
</div>

<!-- Handler template reference -->
<mmc-handler #sourceHandler></mmc-handler>
